# Base de données
DATABASE_URL="postgresql://vulnscan:vulnscan123@localhost:5432/vulnscan"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT — OBLIGATOIRE : changer en production (min 32 caractères)
JWT_SECRET="changez_moi_avec_une_chaine_aleatoire_minimum_32_caracteres"
JWT_EXPIRES_IN="24h"

# Serveur
PORT=3001
NODE_ENV=development

# Chemins
SCANNER_PATH="../scanner"
REPORTS_PATH="./reports"

# CORS
FRONTEND_URL="http://localhost:5173"
